body {
background-color: green;
}
.container {
background-color: white;
height: 100vh;
}
img {
height: 100px;
width: 100%;
margin-top: 15px;
}
.navbar ul {
list-style: none;
display: flex;
flex-wrap: wrap;
height: 20px;
width: 100%;
justify-content: space-around;
align-items: center;
background-color: green;
}
.navbar ul li a {
color: white;
}
